<header class="">
    <div class="container noTopPadding">
        <div class="floatLeft productTitle productTitleWide">
            <img src="assets/img/iotp.png" class="floatLeft" style="width: 50px; margin-right: 15px;">
            <a [routerLink]="['/']">IBM <strong>Watson IoT</strong> Platform</a>
        </div>
        
        <div class="floatRight">
            <div class="userImg medium-hide">
                <img src="assets/img/user.jpg" class="circularImg">
            </div>
            
            <p class="floatRight medium-hide">
                Archie
            </p>
            
            <p class="floatRight medium-show large-hide">
                <a href="#" class="btn btn-demo em-Modal-Call" rel="loginModal">
                    <i class="icon-menu"></i>
                </a>
            </p>
        </div>
    </div>
</header>

<nav class="mdl-navigation">
  <a class="mdl-navigation__link" [routerLink]="['/']">Home</a>
  <a class="mdl-navigation__link" [routerLink]="['/devices']">Devices</a>
  <a class="mdl-navigation__link" [routerLink]="['/rules']">Rules</a>
</nav>

<!-- Router Outlet -->
<router-outlet></router-outlet>