<div class="container-50 noTopPadding container-30-right ng-scope">
    <div class="floatLeft">
        <h4>Devices Registered</h4>
    </div>
</div>

<div class="clearfix ng-scope"></div>

<div class="statusBar marginTop-15 ng-scope">
    <div class="container-50 row noOffsetRow">
        <div class="column-6-lg column-6-med column-6-sm">
            <strong>Total Devices Registered</strong>

            <strong class="vehicleStats orange">
                <i class="icon-car iconMarginRight white"></i> {{devices !== undefined ? devices.length : "--"}}
            </strong>
        </div>
    </div>
</div>

<div *ngIf="this.devices !== undefined && this.devices.length > 0" class="container-50 paddingTop">
      <div class="floatRight">
        <a href="/admin/ui/device">Manage Devices</a>
      </div>
      
      <div class="dashItem ng-scope" ng-if="$ctrl.regions">
        <div class="dashTitleBar">
            <h3>Car availability (Zone)</h3>
        </div>

        <div class="primary">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Device ID</th>
                        <th>RPM</th>
                        <th>Running</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let device of devices; let i = index;">
                        <td>{{i + 1}}</td>
                        <td>{{device.deviceId}}</td>
                        <td class="align-right">{{device.data !== undefined ? device.data.rpm : "--"}}</td>
                        <td class="align-right">{{device.data !== undefined ? device.data.running : "--"}}</td>
                        <td class="align-right">{{device.data !== undefined ? (device.data.ts | date) : "--"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container-50 paddingTop">
    <strong *ngIf="this.devices !== undefined && this.devices.length === 0">
        No Devices Found
    </strong>

    <strong *ngIf="this.devices === undefined && errorMessage === undefined">
        Loading Devices...
    </strong>

    <strong *ngIf="this.devices === undefined && errorMessage !== undefined">
        Something went wrong!
    </strong>

    <h2>Socket Test</h2>
    <div *ngFor="let message of messages">
        {{message.text}}
    </div>
    <input [(ngModel)]="message" />
    <button (click)="sendMessage()">Send</button>
</div>